.abno-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 90; 
  /* Canvas layers = 0–50 || UI panels = 100–999 || Dialogs = 1000+ */
}

.abno-text {
  font-weight: bold;
  text-shadow: 0 0 15px black;
}
