<form>

  <div class="form-group">
    <label>Messages (one per line)</label>
    <textarea name="messages" rows="6">{{#each messages}}{{this}}
{{/each}}</textarea>
  </div>

  <div class="form-group">
    <label>Duration (ms)</label>
    <input type="number" name="duration" value="{{duration}}">
  </div>

  <div class="form-group">
    <label>Fade Out Time (ms)</label>
    <input type="number" name="fadeOutTime" value="{{fadeOutTime}}">
  </div>

  <div class="form-group">
    <label>Auto Frequency (seconds, 0 = off)</label>
    <input type="number" name="frequency" value="{{frequency}}">
  </div>

  <hr>

  <div class="form-group">
    <label>Font Size</label>
    <input type="number" name="fontSize" value="{{fontSize}}">
  </div>

  <div class="form-group">
    <label>Font Color</label>
    <input type="color" name="color" value="{{color}}">
  </div>

  <div class="form-group">
    <label>Font Family</label>
    <input type="text" name="fontFamily" value="{{fontFamily}}">
  </div>

  <div class="form-group">
    <label>Typing Speed (ms per letter)</label>
    <input type="number" name="typingSpeed" value="{{typingSpeed}}">
  </div>

  <hr>

  <div class="form-group">
    <label>Random Mode</label>
    <input type="checkbox" name="randomMode" {{#if randomMode}}checked{{/if}}>
  </div>

  <div class="form-group">
    <label>Random Position</label>
    <input type="checkbox" name="randomPosition" {{#if randomPosition}}checked{{/if}}>
  </div>

  <div class="form-group">
    <label>Random Angle</label>
    <input type="checkbox" name="randomAngle" {{#if randomAngle}}checked{{/if}}>
  </div>

  <div class="form-group">
    <label>Max Angle</label>
    <input type="number" name="maxAngle" value="{{maxAngle}}">
  </div>

  <div class="form-group">
    <label>Max Simultaneous</label>
    <input type="number" name="maxSimultaneous" value="{{maxSimultaneous}}">
  </div>

  <hr>

  <div class="form-group">
    <label>Enable Outline</label>
    <input type="checkbox" name="outlineEnabled" {{#if outlineEnabled}}checked{{/if}}>
  </div>

  <div class="form-group">
    <label>Outline Color</label>
    <input type="color" name="outlineColor" value="{{outlineColor}}">
  </div>

  <div class="form-group">
    <label>Outline Thickness</label>
    <input type="number" name="outlineThickness" value="{{outlineThickness}}">
  </div>

  <div class="form-group">
    <label>Auto Scale Long Text</label>
    <input type="checkbox" name="autoScaleLongText" {{#if autoScaleLongText}}checked{{/if}}>
  </div>

  <footer class="sheet-footer flexrow">
    <button type="submit">Save</button>
  </footer>

</form>
